$white: #fff;
$hr: #979797;
$red: #ff0000;
$intro: #d0d6f9;
$link: #ffffff5b;
$explore: #ffffff20;
$border-line: #383b4b;

$dark: #0b0d17;
$black-bg: #2525253a;
$black-border: #252525;
$black-hover: #252525b6;

$earth: rgba(189, 244, 253, 0.664);
$earth-hover: rgba(189, 244, 253, 0.8);
