@import "../../styles/mixins";

.content {
  position: relative;
  background: url("../../assets/technology/background-technology-desktop.jpg")
    no-repeat fixed center / cover;
  height: 100vh;
  padding: 212px 0 0 163px;
  overflow: auto;
}

.intro {
  @include intro;
  .introIndex {
    @include introIndex;
  }
}

.changingContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.textContent {
  width: 50%;
  display: flex;
  gap: 115px;
  padding: 154px 0 94px 0;
}

.subtitle {
  color: #d0d6f9;
  font-size: 16px;
  letter-spacing: 2.7px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

.title {
  font-family: Bellefair;
  color: #fff;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.text {
  width: 80%;
  @include text;
  margin-bottom: 120px;
}

.imageContainer {
  width: 50%;
  img {
    height: 80%;
    position: absolute;
    right: 0;
  }
}

.linksList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 10px;
  li {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    border-radius: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.363);
    cursor: pointer;
    text-align: center;
    &:hover {
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }
  .activeLink {
    background: #fff;
    color: #0b0d17;
  }
}

@media (max-width: 1438.98px) {
  .content {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
    padding: 212px 0 0 0;
  }
  .intro {
    position: absolute;
    left: 39px;
    top: 136px;
    @include introTablet;
    .introIndex {
      @include introIndexTablet;
    }
  }
  .changingContent {
    flex-direction: column-reverse;
  }
  .textContent {
    width: 100%;
    flex-direction: column;
    gap: 44px;
    padding: 0;
    text-align: center;
  }
  .subtitle {
    font-weight: 400;
    margin-bottom: 16px;
  }
  .title {
    font-size: 40px;
    margin-bottom: 16px;
  }
  .text {
    width: 100%;
    min-height: 80px;
    @include textTablet;
    padding: 0 155px 97px;
  }
  .imageContainer {
    width: 100%;
    img {
      width: 100%;
      height: 310px;
      position: relative;
      object-fit: cover;
    }
  }
  .linksList {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    li {
      width: 60px;
      height: 60px;
      font-size: 24px;
    }
  }
}

@media (max-width: 767.98px) {
  .content {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }
  .intro {
    width: 100%;
    @include absoluteCentering;
    @include introMobile;
    .introIndex {
      @include introIndexMobile;
    }
  }

  .textContent {
    gap: 26px;
  }
  .subtitle {
    font-size: 14px;
    margin-bottom: 9px;
  }
  .title {
    font-size: 24px;
  }
  .text {
    width: 100%;
    min-height: 80px;
    @include textMobile;
    padding: 0 45px 0px;
  }
  .imageContainer {
    width: 100%;
    img {
      width: 100%;
      height: 310px;
      position: relative;
      object-fit: cover;
    }
  }
  .linksList {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    li {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }
}
