.content {
  background: url("/assets/home/background-home-desktop.jpg") no-repeat fixed
    center / cover;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 387px 165px 0;
  overflow: auto;
}

.intro {
  font-size: 28px;
  font-weight: 400;
  font-family: Barlow Condensed;
  letter-spacing: 2.2px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-bottom: 90px;
}

.title {
  font-family: Bellefair;
  font-size: 150px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 6px;
}

.text {
  width: 40%;
  font-size: 18px;
  font-weight: 400;
  font-family: Barlow;
  line-height: 32px;
}

.exploreBtn {
  width: 274px;
  height: 274px;
  font-size: 32px;
  letter-spacing: 2px;
  color: #0b0d17;
  border-radius: 100%;
  background: #fff;
  border: none;
  transition: outline 0.6s linear;
  outline: solid 1px #ffffff20;
  &:hover {
    outline-width: 90px;
  }
}

@media (max-width: 1438.98px) {
  .content {
    background-image: url("/assets/home/background-home-tablet.jpg");
    flex-direction: column;
    gap: 156px;
  }
  .textContent {
    align-items: center;
    padding-bottom: 0;
  }
  .intro {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3.375px;
  }
  .title {
    line-height: 150px;
  }
  .text {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  .exploreBtn {
    width: 242px;
    height: 242px;
    font-size: 32px;
    letter-spacing: 2px;
    transition: outline 0.6s linear;
    outline: solid 1px #ffffff20;
    &:hover {
      outline-width: 60px;
    }
  }
}

@media (max-width: 767.98px) {
  .content {
    background-image: url("/public/assets/home/background-home-mobile.jpg");
    gap: 81px;
    padding: 154px 24px 0;
  }
  .intro {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .textContent {
    width: 100%;
    gap: 16px;
  }

  .title {
    font-size: 80px;
    line-height: 100px;
  }
  .text {
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
}
