.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 40px 0px 0px 55px;
  z-index: 3;

  .headerHr {
    border: none;
    border-top: solid 1px #979797;
    margin: 0;
    flex-grow: 1;
    margin-left: 64px;
  }
}

.burgerMenu {
  display: none;
}

.navigationMenu {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(41px);
  padding: 0 167px 0 123px;
  .navHr {
    position: absolute;
    top: 48px;
    left: 0;
    width: 65px;
    border: none;
    border-top: solid 1px #979797;
    margin: 0;
  }
}

.linksList {
  display: flex;
  height: 100%;
  gap: 48px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.link {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 11px;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #fff;
  text-transform: uppercase;
  .linkIndex {
    font-weight: 700;
  }
  .activeLink {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
}

@media (max-width: 1438.98px) {
  .header {
    padding: 2px 0 0 39px;
    hr {
      display: none;
    }
  }
  .navigationMenu {
    padding: 39px 65px 40px 48px;
  }
  .link {
    .linkIndex {
      display: none;
    }
    .activeLink {
      width: 50px;
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    padding: 25px;
  }
  .navigationMenu {
    position: fixed;
    top: 0;
    right: 0;
    // left: -100%;
    width: 70%;
    min-height: 100vh;
    justify-content: start;
    align-items: start;
    padding: 0;
    z-index: -1;
    .linksList {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 118px 0 0 32px;
    }
  }
  .menuActive {
    left: -100%;
  }
  .link {
    gap: 11px;
    .linkIndex {
      display: block;
    }
    .activeLink {
      display: none;
    }
  }
  .burgerMenu {
    display: block;
    cursor: pointer;
  }
}
