@import "../../styles/mixins";

.content {
  position: relative;
  height: 100vh;
  padding: 198px 137px 0 165px;
  overflow: auto;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("../../assets/crew/background-crew-desktop.jpg") no-repeat fixed
    center / cover;
  filter: blur(12px);
}

.intro {
  @include intro;
  .introIndex {
    @include introIndex;
  }
}

.changingContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.textContent {
  width: 50%;
  padding: 154px 0 94px 0;
}

.imageContainer {
  width: 50%;
  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.subtitle {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 15px;
}

.title {
  font-family: Bellefair;
  color: #fff;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.text {
  width: 80%;
  min-height: 140px;
  @include text;
  margin-bottom: 120px;
}

.linksList {
  display: flex;
  gap: 24px;
  li {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #fff;
    opacity: 0.17;
    cursor: pointer;
  }
  .activeLink {
    opacity: 1;
  }
}

@media (max-width: 1438.98px) {
  .content {
    padding: 240px 155px 0 155px;
  }
  .content::before {
    background: url("../../assets/crew/background-crew-tablet.jpg") no-repeat fixed
      center / cover;
  }
  .intro {
    position: absolute;
    left: 39px;
    top: 136px;
    @include introTablet;
    .introIndex {
      @include introIndexTablet;
    }
  }
  .changingContent {
    flex-direction: column;
    gap: 40px;
  }
  .textContent {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 16px;
  }
  .text {
    width: 100%;
    min-height: 80px;
    @include textTablet;
    margin-bottom: 40px;
  }
  .linksList {
    justify-content: center;
  }
  .imageContainer {
    width: 100%;
    img {
      position: relative;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .linksList {
    gap: 18px;
    li {
      width: 12px;
      height: 12px;
      border-radius: 12px;
    }
  }
}

@media (max-width: 767.98px) {
  .content {
    padding: 180px 34px 0 34px;
  }
  .content::before {
    background: url("../../assets/crew/background-crew-mobile.jpg") no-repeat fixed
      center / cover;
  }
  .intro {
    width: 100%;
    @include absoluteCentering;
    @include introMobile;
    .introIndex {
      @include introIndexMobile;
    }
  }
  .changingContent {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .textContent {
    position: relative;
  }
  .subtitle {
    font-size: 16px;
    margin-top: 32px;
  }
  .title {
    font-size: 24px;
  }
  .text {
    width: 100%;
    min-height: 80px;
    @include textMobile;
    margin-bottom: 0px;
  }
  .imageContainer {
    height: 30vh;
    border-bottom: 2px solid #383b4b;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .linksList {
    @include absoluteCentering;
    top: 0;
    gap: 14px;
    li {
      width: 8px;
      height: 8px;
      border-radius: 8px;
    }
  }
}
