@import "../../styles/mixins";
@import "../../styles/variables";

.content {
  background: url("/assets/destination/background-destination-desktop.jpg")
    no-repeat fixed center / cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 212px 163px 0;
  overflow: auto;
}

.intro {
  @include intro;
  margin-bottom: 64px;
  .introIndex {
    @include introIndex;
    color: $red;
  }
}

.textContent {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .homeButton {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border-radius: 12px;
    border: 1px solid $black-border;
    outline: none;
    cursor: pointer;
    background-color: $black-bg;
    color: $earth;
    &:hover {
      color: $earth-hover;
      border: 1px solid $black-hover;
    }
  }
}

@media (max-width: 1438.98px) {
  .content {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
    padding: 136px 60px 0;
  }
  .textContent {
    width: 100%;
    .subtitle {
      width: 100%;
    }
  }
}

@media (max-width: 767.98px) {
  .content {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
    text-align: center;
    padding: 130px 8px 0;
    align-items: center;
  }
  .intro {
    @include introTablet;
    display: flex;
    flex-direction: column;
    .introIndex {
      @include introIndexTablet;
    }
  }
  .textContent {
    align-items: center;
    .homeButton {
      width: 100%;
      height: 60px;
      gap: 6px;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 1.4px;
    }
  }
}
